extends: default

ignore: |
  /.kitchen/
  /.vagrant/
  roles/
  molecule_virtenv/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable